.parallax {
  background-image: url("../public/images/siteImages/home-2.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("../public/images/siteImages/home-1.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("../public/images/siteImages/home-3.jpg");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
